.carousel-container {

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.carousel__page {
    padding: 1.5rem;
}

.carousel__item {
    font-size: 2rem;
    color: #00000073;
}
.carousel__item.--checked {
    color: #000000ff;
}

.carousel__item > input {
    display: none;
}
.carousel__label {
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.carousel__value {
    display: inline-block;
    transform: translate3d(-1rem, 0, 0);
    transition: transform 0.15s;
}
.carousel__item.--checked .carousel__value {
    transform: translate3d(0.5rem, 0, 0);
}

.carousel__checkmark {
    display: inline-block;
    opacity: 0;
    transform: translate3d(-1.5rem, 0, 0);
    transition: opacity 0.15s, transform 0.15s;
}
.carousel__item.--checked .carousel__checkmark {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}