.initials-scroller {
    position: relative;
}

.initials-scroller__list {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    
    width: 100vw;
}

.initials-scroller__list::-webkit-scrollbar {
    display: none;
}

.initials__letter {
    scroll-snap-align: center;
    text-transform: uppercase;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    opacity: 0.5;
}

.initials__letter.--sel {
    font-weight: bold;
}

.initials-scroller__spacer {
    width: calc(50% - 24px);
    flex-shrink: 0;
}

.initials-scroller__spotlight {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 48px;
    width: 48px;
    border-radius: 50%;
    backdrop-filter: invert(100%) brightness(200%);
    display: flex;
    overflow: hidden;
}